*,
*::before,
*::after {
box-sizing: border-box;
}

body {
min-height: 100vh;
margin: 0;
font-family: "Quicksand", sans-serif;
color: #e1eeeb;
background: radial-gradient(circle, #303b37, #1a1f1d);
}


header {
text-align: center;
margin: 3rem auto;
}

header img {
width: 5rem;
height: 5rem;
object-fit: contain;
}

header h1 {
font-family: "Roboto Condensed", sans-serif;
font-size: 1.5rem;
text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


form {
max-width: 600px;
margin: auto;
}

form input {
width: 100%;
margin-bottom: 1rem;
}

form button {
margin: 0.5rem;
}


table {
width: 100%;
background-color: #2a2a3a;
color: white;
border-radius: 10px;
border-collapse: collapse;
}

th,
td {
padding: 0.75rem;
text-align: center;
}